body {
  background: url();
}
.navbar {
  background: rgba(0, 95, 153, 0.9);
}

.card {
  background: linear-gradient(180deg, #8ac1ed 62%, rgb(0, 121, 196) 100%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  color: white;
}

.cardDays {
  width: 20%;
  &:hover {
    transform: scale(110%);
    cursor: pointer;
    transition: transform 0.3s;
  }
}

.text-shadow {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.nextDaysBtn {
  text-decoration: none !important;
  &:hover {
    background-color: white !important;
    color: black;
  }
}

@media screen and (max-width: 991px) {
  .cardDays {
    width: 30%;
  }
}

@media screen and (max-width: 768px) {
  .cardDays {
    width: 100%;
  }
}
